In [ ]:
# variable & valued

# variable = file name
# value = data points

# single $ multi-line commenting
#data types - Integer
#data types - Float
#data types - Boolean
# data types - String

In [4]:
a=10
print(a)

10

** To Run The Code**

 1.Ctr + Enter= Excute a Block/Cell and remain in th same cell.

2.Shift + Enter = Excute a Block/Cell and move on to the next cell.

In [6]:
b=25

1. Variable should not be name after default keywords present in the python.
2. It should be not start with number.
3. variable can start with underscore _ .

In [7]:
_abc='python'
_abc

'python'

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
len(keyword.kwlist)

35

#Data types -Integer

In [12]:
a=10

In [14]:
type(a)

int

In [16]:
b,c=10,30
print(b)
print(c)

10
30

#Operation in **Integer**

In [23]:
 # fstring inside the f-string, you can include expressions (variables, calculations, etc.) enclosed in curly braces {}
print(f'A is {a} | B is {b}\n')
print('addition',a+b)
print('subtraction',a-b)
print('multiplication',a*b)
print('division',a/b)
print('floor division',a//b)
print('modulus',a%2)
print('exponent',a**b)
print('power',a**2)

A is 10 | B is 10

addition 20
subtraction 0
multiplication 100
division 1.0
floor division 1
modulus 0
exponent 10000000000
power 100

#Data Types-Float

In [24]:
a= 10.25
print(a)

10.25

In [25]:
type(a)

float

In [27]:
b=20.25
b

20.25

In [28]:
type( b)

float

#Operation in **Float**

In [37]:
print(f'A is {a} | B is {b}\n')
print('addition',a+b)
print('subtraction',a-b)
print('multiplication',round(a*b,2))
print('division',round(a/b,2))
print('floor division',a//b)
print('modulus',a%2)
print('power',round(a**2,2))

A is 10.25 | B is 20.25

addition 30.5
subtraction -10.0
multiplication 207.56
division 0.51
floor division 0.0
modulus 0.25
power 105.06

#*Boolean*

In [38]:
a=True
print(a)

True

In [39]:
type(a)

bool

In [41]:
b=False
print(b)

False

In [42]:
type(b)

bool

#*Operation in Boolean*

In [43]:
print(f'A is {a} | B is {b}\n')
print('AND Operation:',a and b)
print('OR Operation:',a or b)
print('NOT Operation:',not a)

A is True | B is False

AND Operation: False
OR Operation: True
NOT Operation: False

In [44]:
print('AND Operation:',a & b)
print('OR Operation:',a | b)

AND Operation: False
OR Operation: True

#*Data Types-String*

In [52]:
z='bala is a Data Engineer'
print(z)
type(z)

bala is a Data Engineer

str

#*Operation in strings*

In [51]:
print('no of character in the string:',len (z))

no of character in the string: 23